资料/was/Develop a web service without an IDE/TEMP/Server7/EntInfoBankService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://gwssi.com" xmlns:impl="http://gwssi.com" xmlns:intf="http://gwssi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://gwssi.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="getEntInfoResponse">
    <complexType>
     <sequence>
      <element name="getEntInfoReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLogOffEntInfo">
    <complexType>
     <sequence>
      <element name="arg_0_1" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLogOffEntInfoResponse">
    <complexType>
     <sequence>
      <element name="getLogOffEntInfoReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEntInfo">
    <complexType>
     <sequence>
      <element name="arg_0_0" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLogOffEntInfoResponse">
     <wsdl:part element="impl:getLogOffEntInfoResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:message name="getLogOffEntInfoRequest">
     <wsdl:part element="impl:getLogOffEntInfo" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:message name="getEntInfoResponse">
     <wsdl:part element="impl:getEntInfoResponse" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:message name="getEntInfoRequest">
     <wsdl:part element="impl:getEntInfo" name="parameters">
    </wsdl:part>

  </wsdl:message>

   <wsdl:portType name="BankService">
     <wsdl:operation name="getEntInfo">
       <wsdl:input message="impl:getEntInfoRequest" name="getEntInfoRequest">
    </wsdl:input>

       <wsdl:output message="impl:getEntInfoResponse" name="getEntInfoResponse">
    </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="getLogOffEntInfo">
       <wsdl:input message="impl:getLogOffEntInfoRequest" name="getLogOffEntInfoRequest">
    </wsdl:input>

       <wsdl:output message="impl:getLogOffEntInfoResponse" name="getLogOffEntInfoResponse">
    </wsdl:output>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="EntInfoBankServiceSoapBinding" type="impl:BankService">
 <wsaw:UsingAddressing wsdl:required="false" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"/>

     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="getEntInfo">
       <wsdlsoap:operation soapAction=""/>

       <wsdl:input name="getEntInfoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="getEntInfoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

     <wsdl:operation name="getLogOffEntInfo">
       <wsdlsoap:operation soapAction=""/>

       <wsdl:input name="getLogOffEntInfoRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="getLogOffEntInfoResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="BankServiceService">
     <wsdl:port binding="impl:EntInfoBankServiceSoapBinding" name="EntInfoBankService">
       <wsdlsoap:address location="http://localhost:9080/BankInterface/services/EntInfoBankService"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
